* {
  margin: 0;
  padding: 0;
}

.container{
  text-align: center;
  display: grid;
  height: 98vh;
  grid-template-columns: minmax(200px, 2fr) minmax(800px, 8fr);
  grid-template-rows: 1fr 8fr;
}

.sidebar {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: lightblue;
  grid-template-rows: 1fr 4fr 2fr 4fr;
  gap: 40px;
  justify-items: start;
  text-align: left;
  font-family: helvetica, sans-serif;
  padding: 20px;
}

.icons {
  max-width: 30%;
  height: auto;
}

#icon-dashboard {
  max-width: 50%;
  height: auto;
}

#icon-search {
  width: auto;
  max-height: 2rem;
}

#dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  min-width: 150px;
}

#sidebar-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}

#sidebar-main > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  min-width: 150px;
}

#sidebar-extra {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  
}

#sidebar-extra > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  min-width: 150px;
}

.header {
  background-color: white;
  grid-column: 2 / 4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 2fr;
}

#search {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  padding-left: 40px;
  gap: 20px;

}

#search-field {
  width: 60%;
  height: 60%;
  border-radius: 20px;
  padding-left: 20px;
}

.name {
  grid-row: 1 / 2;
  grid-column: 2 / 3
}

#handle {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 2fr;
}

#hello {
  grid-column: 2 / 3;
  grid-row: 1 / 2
}

#hello-name {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#profile-person {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 50px;
  width: auto;
}

.buttons{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects{
  background-color: rgb(174, 235, 147);
  grid-column: 0 / 1;
  grid-row: 1 / 3;
}

.announcements{
  background-color: lightpink;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.trending{
  background-color: aquamarine;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
