* {
  margin: 0;
  padding: 0;
}

.container{
    text-align: center;
    display: grid;
    height: 98vh;
    grid-template-columns: minmax(200px, 2fr) minmax(800px, 8fr);
    grid-template-rows: 1fr 8fr;
}

.sidebar {
    grid-column: 0 / 2;
    grid-row: -1 / 1;
    background-color: lightblue;
  }

  .header {
    background-color: white;
    grid-column: 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects{
    background-color: rgb(174, 235, 147);
    grid-column: 0 / 1;
    grid-row: 0 / 4;
}